*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.idea
shop/.idea
servlet_shop/.idea
/workshop2/ws_shop/.idea
/workshop3/jsf_shop/.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/shop/target/
/servlet_shop/target/
/workshop2/ws_shop/target/