<div>
    <!--Body content-->
    <h2>New Product</h2>

    <a href="#products">Back</a>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>
                <input ng-model="product.id" type="number" value="{{product.id}}"/>
            </td>
        <tr>
            <td>Name</td>
            <td>
                <input ng-model="product.name" type="text" value="{{product.name}}"/>
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td>
                <input ng-model="product.price" type="number" value="{{product.price}}"/>
            </td>
        </tr>
    </table>


    <div class="btn-group">
        <input type="button" value="Cancel" class="btn btn-default" ng-controller="NavigationCtrl" ng-click="navigate('#products')"/>
        <input type="button" value="Save" class="btn btn-default" ng-click="save()"/>
    </div>
    
</div>

